{% include "Main/assets/inc/head.html" %}

{% load static %}
<style> .Container {height:max-content !important;} </style>

<div style="height: 100%;font-size:20px;height: 100%;margin-top:50px;padding:43px">

<h2>Online Paper Cheacking System</h2>
<div>
<p>Online Paper Cheacking System is useful to evaluate answers digitaly with the help of  different tecnology like OCR (Optical Character Recognation) and NLP (Natural Langurage Processing) 
then examiners can evaluate these answer also see student results.
Examiners can login securely to the system to evaluate answer sheets in digital manner.</p>

<p>Post examination activities are crucial to publish examination results on time. Many education institutes and universities face many challenges to publish results within 30 to 45 days after completion of the exams.
Each entity from examination department right from controller of examination, registrar , answer sheet evaluator professor or teachers, moderators,
                        result printing team are involved in this co-ordinated task to complete result publishing activity in stipulated deadlines
</p>

<p>One of the huge administrative tasks for any education institute University. 
Examination process is conducted for theory exams where candidate need to write answers.
Examiner collects those answer sheets and submits to authority for checking process.        
</p>

<p>Academic institutions are shutting down for a couple of weeks to a month due to coronavirus outbreak across the world. 
Various academic exams are getting canceled or postponed. Covid-19 has already been declared as a global pandemic by WHO. 
Academic institutes and universities are trying to identify new ways to complete academic years for schools.</p>
</div>



<section style="margin-top:50px;">
<h2>Features</h2>
<div style="display:flex;justify-content:center;"><div class="features-list-sections" style="margin-top:50px;">
<img src="{% static 'Main/assets/img/features.png' %}"/>
<div class="features-list">
<p>Ability to generate result in quick time with high accuracy </p>
<p>Digital management and storage of answer sheets</p>
<p>Easy retrival of answer sheets any time from any location</p>
<p>Examiner can evaluate the Digital copies of the answer sheets in quick time</p>
<p>Accuracy of evaluation improves significantly</p>
<p>Simplification of Moderation and Re evaluation process</p>
<p>Cuts short the time taken in processing results</p>
<p>Logistical activity and coordination process gets simplified</p>
<p>Helps to reduce the expenditure of the institue</p>
</div></div></div></section>



</div>
{% include "Main/assets/inc/fotter.html" %}

