{% include "Main/assets/inc/head.html" %}
{% load static %}

<script src="{% static 'Main/assets/js/main.js' %} "></script>
<div class="content">
	<div class="inform">
    <div class="Description">
    <p class="DescriptionHead">Online Paper Checking System</p>
    <p>
     Designit is a graphic design platform that allows users to create social media graphics, presentations, posters and other visual content. 
     It is available on web and mobile, and integrates millions of images, fonts, templates and illustrations
    </p>
    <div class="button"><button><a href="login" style="text-decoration:none;color:white;">Get started</a></button></div>
    </div>
    <div class="dis-img">
    <svg width="450px" height="420px" viewBox="0 0 741 739" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <path d="M370.5,0c204.485,0 370.5,165.567 370.5,369.5c0,203.933 -166.015,369.5 -370.5,369.5c-204.485,0 -370.5,-165.567 -370.5,-369.5c0,-110.709 63.176,-104.945 140.622,-172.69c65.214,-57.046 136.402,-196.81 229.878,-196.81Z" style="fill:#111;stroke: #99dada;stroke-width: 8px;"></path></svg>

    <img class="shadow" src="{% static 'Main/assets/img/exam.svg' %}" /></div>
    </div>
  </div></div>
  
  
  <!--Container!-->

<hr style="color:black;width:90%">

<section class="features">
<div id="features-line" style="margin-bottom:50px;"><h2>Features</h2></div>

<div class="features-list-sections">
<img src="{% static 'Main/assets/img/features.png' %}"/>
<div class="features-list">
<p>Ability to generate result in quick time with high accuracy </p>
<p>Digital management and storage of answer sheets</p>
<p>Easy retrival of answer sheets any time from any location</p>
<p>Examiner can evaluate the Digital copies of the answer sheets in quick time</p>
<p>Accuracy of evaluation improves significantly</p>
<p>Simplification of Moderation and Re evaluation process</p>
<p>Cuts short the time taken in processing results</p>
<p>Logistical activity and coordination process gets simplified</p>
<p>Helps to reduce the expenditure of the institue</p>
</div><div></div></div>

<div class="feature-item">
      <div class="feature-text">
        <h2 class="heading">No more Paper work!</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor</p></div>
      <div class="features-img">
      <img src="{% static 'Main/assets/img/paper.PNG' %}" width="500" height="100%"></div>
      </div>


<hr style="color:black;width:100%;margin:20px">

<div class="feature-item" style="flex-direction:row-reverse;">
      <div class="feature-text">
        <h2 class="heading">Cuts Short the time taken in processing results</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor</p></div>
      <div class="features-img" style="margin-right: 25%;margin-left:0px;">
      <img src="{% static 'Main/assets/img/time.svg' %}" width="500" height="100%"></div>
      </div>

<hr style="color:black;width:100%;margin:20px">

<div class="feature-item">
      <div class="feature-text">
        <h2 class="heading">Oh yeah, it’s that good</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor</p></div>
      <div class="features-img">
      <img src="{% static 'Main/assets/img/quiztime.svg' %}" width="450" height="100%"></div>
      </div>

</section>

<section class="Subscribe">

<div style="width: 100%;display: flex;flex-direction: row;justify-content: center;"><div class="search">
<i class="icon search-icon ion-ios-search-strong"></i>
<input type="text" style="padding-left:38px;" placeholder="Enter Your Email"></input>
<input type="button" style="width: 150px;color:white; background-color:#000; border-radius: 0px;margin-left:10px;padding: 0px;" 
value="Subscribe"></input>
</div></div>
</section>

{% include "Main/assets/inc/fotter.html" %}
