		.header{display: flex; flex-direction:row;margin-bottom:75px;height: 65px;box-shadow: 0.5px 0.5px 2px #424242;background: #000;padding-left: 35px;justify-content: space-between;position: fixed;width: 100%;z-index: 1;}
		.header .logo{display:flex;align-items:center;margin:0px 68px; }
		.Main-Menu{display: flex;list-style: none;padding:0px; width: 80%;z-index: 0;}
        .features-img{margin-left: 25%;}
		.Main-Menu li {font-size: 20px; display: flex;align-items: center;/*! font-size: ; */}
		.Main-Menu li a{text-decoration: none;color:#fff;padding: 8px;font-size: 20px;}
		.Main-Menu .Brand-name a {color:#ff6347;font-size:28px;font-weight: bold;}
		 body{margin:0px;}
		.info-box{padding-bottom: 10px;}
		.features{display: flex;justify-content: center;align-items: center;font-family:Lato;padding: 0px 30px;flex-wrap: wrap;flex-direction: column;}
		.features_box{padding: 20px;}
        .feature-text{padding:0px 10px;}
		.info{padding:0px 15px;}
		.img img{max-width:55px;min-width:50px;transform: translate(-90px,70px);margin-top:-30px;}
		.title-sub{padding-bottom: 20px;color: white;opacity:0.8;}
		.Container{display:flex;flex-direction:column;height:710px;}
		.sign_button{align-self: center;width: 230px;}
		.fotter{bottom:0;background-color:#ce2e53;height:40px; position: absolute; width:87%; display:flex;align-items:center;padding:20px;color:white; }
		.Products-Container img{width:200px;height:200px; padding:0px 70px;}
		.dis-img{margin-right:40px;display: flex;flex-direction: column;}
		.dis-img img{width:400px;height:310px;transform: translate(8%,-117%);}
		.inform{display: flex;flex-direction: row;justify-content: space-around;margin-top: 150px;}
		.Description{/*! margin-left:40px; */margin-right:40px;width:40%;margin-top: 60px;}
		.Description .DescriptionHead{font-size:30px;font-weight: bold;}
		.Description p{font-size: 20px;}
		.button button{padding:14px;margin-top:15px;color:white;background-color:#171717;border:0px;font-size:13px;font-weight:bold;border-radius:50px;}
		 button:hover {cursor: pointer;background-color:#ff6347;}
		 /* :not(.Brand-name) except .Brand-name class select every thing */
		.Main-Menu li:not( .Brand-name ) a:hover {background-color: #0d4788;padding: 20px 8px;}
		.card{margin: 0px 45px;background-color:#fff;box-shadow: 1px 1px 15px #100c5870;}
		.card-header{display:flex;justify-content: center;background:#0f0b57eb;color: #fff;font-size:19px;}
		.card-body{width: 260px;display: flex;flex-direction: column;justify-content: center;padding:30px;}
		.features button{min-height: 50px;background-color: #fff;border: 0px;font-size: 18px;color: #fff;}
		.content{margin-top:30px;display: flex;justify-content: center;flex-direction: column;}
		.Form-Container{ display: flex;justify-content: center;margin:10% 0%;}


		.Learn-card{padding:15px;margin:15px; margin-bottom:50px; display: flex;flex-direction: column;}
		.Learn-card-Section{display: flex;flex-wrap: wrap;justify-content: center;}
		.Learn-heading{margin-left:70px;margin-right:100px;}
		.Learn-card a{text-decoration:none;color:#000;padding-top:10px;font-size:21px;}
		.img-Template{width:130px}
		.Template-card{display: flex;flex-direction: column;margin: 20px;justify-content: center;}
		.Template-card a{color:#fff;text-decoration:none;margin-top:10px;}
		.feature-item {display:flex;margin: 50px 0px;width: 100%;flex-direction: row;justify-content: space-around;}
		#features-line{margin: 50px 0px;}
		.Subscribe{width:100%;height:450px;background-color: #fff;margin: 100px 0px;box-shadow: 1px 1px 5px #222222a8;display: flex;justify-content: center;flex-direction: column;background-image: url(../img/exam.jpg);background-repeat: round;filter: saturate(2);}
		.Subscribe .search{display: flex;justify-content: center;width: 60%;}
		.subscribe-heading{display: flex;justify-content:center;font-size:30px;margin-top:-40px;margin-left:-50px;margin-bottom: 10px;}
		.search-icon{font-size: 32px;transform: translate(125%);display: flex;justify-content: center;flex-direction: column;}
		.admin-features-btn{cursor: pointer;}
		.form-heading{font-size:40px;color:#fff;font-family:Herbarium;margin: 20px 0px;}
		.form-btn{border: 0px;font-size: 22px;height: 50px;background-color: #fff;color: #000;box-shadow: 1px 1px 5px #242424;}
		.inner-form-holder form {width:380px;}
		.features-list{padding-left: 30px;display: flex;flex-direction: column;height: 100%;}
		.features-list-sections{margin-bottom:100px;display: flex;flex-direction: row;width:65%;box-shadow: 1px 1px 5px #ddd;}
		.features-list p{padding: 10px;font-size:16px;}
