{% include "Teachers/assets/inc/Head.html" %}

<div class="dash-row row">

<div class="dash-col col" style="width:30%;">
<div class="col-heading tomato-color"><p>Students<i class="icon ion-android-download"></i></p></div>
<div class="col-body"><p><i class="icon ion-ios-people" style="margin-right:4px;font-size:33px"></i> 31 <span>Students</span></p></div>
<div class="col-fotter tomato-color"><p>View Details</p></div>
</div>

<div class="dash-col col" style="width:30%;">
<div class="col-heading purple-color"><p>Subjects<i class="icon ion-android-download"></i></p></div>
<div class="col-body"><p>48  <span>Subjects</span></p></div>
<div class="col-fotter purple-color"><p>View Details</p></div>
</div>

<div class="dash-col col" style="width:30%;">
<div class="col-heading red-color"><p>Exams<i class="icon ion-android-download"></i></p></div>
<div class="col-body"><p><i class="icon ion-ios-paper" style="margin-right:4px;font-size:30px"></i> 41 <span>PASS</span></p></div>
<div class="col-fotter red-color"><p>View Details</p></div>
</div>


<div class="row" style="margin-top:25px;width:100%;">

<div class="col" style="min-width:57%;">
<canvas id="bar"></canvas></div>
<div class="col pie-chart" style="min-width:40%;"  >
<canvas id="pie"></canvas><p class="pie-text">Result</p></div>
</div>



{% include "Teachers/assets/inc/Footer.html" %}
