{% include "Teachers/assets/inc/Head.html" %}


<div class="dash-row row">

<div class="dash-col col" style="width:44%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">Paper</p></div>
<div class="col-body">

<form  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Enter the Name" name="Name" /></div>

<div class="inner">
<select style="width:520px;padding-left:17px;height:48px;border:0px;" name="Role">
      <option value="Quiz">Quiz</option>
      <option value="Assignment">Assignment</option>
    	<option value="Subjective">Subjective</option>
    	<option value="MCQS">MCQS</option>
    	<option value="Exam">Exam</option>
    </select>
</div>

<div class="inner">
<select style="width:100%;padding-left:17px;height:48px;border:0px;" name="Subject">
<option value="ML">Machine Learning</option><option value="AI">Artifical Intelegence</option>
<option value="Math">Math</option><option value="Physics">Physics</option>
</select>
</div>

<div class="inner">
<input type="button" class="papertype" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Select" /></div>
</form>
</div>
</div>




<div class="dash-row row">


<!-- Assignment BLOCK  -->
<div class="Assignment" style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
<div class="dash-col col" style="width:43%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">Assignment</p></div>
<div class="col-body">

<form  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Question" name="Question" /></div>
<div class="inner"><input type="Text" placeholder="Answer" name="Answer" /></div>
<div class="inner"><input type="Text" placeholder="Marks of Question" name="Marks" /></div>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Add More" /></div>
</form>
</div></div>

<div class="dash-col col" style="width:52%;height:max-content;min-width:320px">
<div class="col-heading tomato-color"><p>Assignment</p></div>
<table class="dash-table"> 
<thead><tr><th>ID</th><th>Question</th><th>Answer</th><th>Marks</th></thead> 
<tbody>
<tr><td>1</td><td>Define light</td><td>Packet of Photons</td><td>5 Marks</td></tr> 
</tbody> 
</table>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
style="border: 0px;font-size:20px;width:150px;height:38px;background-color: #fff;color: #000;" value="Upload" />
</div></div></div>




<!-- MCQS BLOCK  -->
<div class="MCQS" style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
<div class="dash-col col" style="width:43%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">MCQS</p></div>
<div class="col-body">

<form  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Question" name="Question" /></div>
<div class="inner"><input type="Text" placeholder="Answer" name="Answer" /></div>

<div style="padding:8px">
<div class="inner"><input type="Text" placeholder="Choice A" name="Choice1" /></div>
<div class="inner"><input type="Text" placeholder="Choice B" name="Choice2" /></div>
<div class="inner"><input type="Text" placeholder="Choice C" name="Choice3" /></div>
</div>

<div class="inner"><input type="Text" placeholder="Marks of Question" name="Marks" /></div>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Add More" /></div>
</form>
</div></div>


<div class="dash-col col" style="width:52%;height:max-content;min-width:320px">
<div class="col-heading tomato-color"><p>MCQS</p></div>
<table class="dash-table"> 
<thead><tr><th>ID</th><th>Question</th><th>Choices</th><th>Answer</th><th>Marks</th></thead> 
<tbody>
<tr><td>1</td><td>Define light</td><td>Light,Packet of energy,Quarks</td><td>Packet of Photons</td><td>5 Marks</td></tr> 
</tbody> 
</table>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
style="border: 0px;font-size:20px;width:150px;height:38px;background-color: #fff;color: #000;" value="Upload" />
</div></div>
</div>




<!-- Subjective BLOCK  -->
<div class="Subjective" style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
<div class="dash-col col" style="width:43%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">Subjective</p></div>
<div class="col-body">

<form  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Question" name="Question" /></div>
<div class="inner"><input type="Text" placeholder="Answer" name="Answer" /></div>
<div class="inner"><input type="Text" placeholder="Marks of Question" name="Marks" /></div>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Add More"/></div>
</form>
</div></div>


<div class="dash-col col" style="width:52%;height:max-content;min-width:320px">
<div class="col-heading tomato-color"><p>Subjective</p></div>
<table class="dash-table"> 
<thead><tr><th>ID</th><th>Question</th><th>Answer</th><th>Marks</th></thead> 
<tbody>
<tr><td>1</td><td>Define light</td><td>Packet of Photons</td><td>5 Marks</td></tr> 
</tbody> 
</table>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
style="border: 0px;font-size:20px;width:150px;height:38px;background-color: #fff;color: #000;" value="Upload" />
</div></div></div>



<!-- QUIZ BLOCK  -->
<div class="Quiz" style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
<div class="dash-col col" style="width:43%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">Quiz</p></div>
<div class="col-body">

<form  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Question" name="Question" /></div>
<div class="inner"><input type="Text" placeholder="Answer" name="Answer" /></div>
<div class="inner"><input type="Text" placeholder="Marks of Question" name="Marks" /></div>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Add More" /></div>
</form>
</div></div>

<div class="dash-col col" style="width:52%;height:max-content;min-width:320px">
<div class="col-heading tomato-color"><p>Quiz</p></div>
<table class="dash-table"> 
<thead><tr><th>ID</th><th>Question</th><th>Answer</th><th>Marks</th></thead> 
<tbody>
<tr><td>1</td><td>Define light</td><td>Packet of Photons</td><td>5 Marks</td></tr> 
</tbody> 
</table>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
style="border: 0px;font-size:20px;width:150px;height:38px;background-color: #fff;color: #000;" value="Upload" />
</div></div></div>


















<!-- EXAM BLOCK  -->
<div class="Exam" style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
<div style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
<div class="dash-col col" style="width:43%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">MCQS</p></div>
<div class="col-body">

<form  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Question" name="Question" /></div>
<div class="inner"><input type="Text" placeholder="Answer" name="Answer" /></div>

<div style="padding:8px;">
<div class="inner"><input type="Text" placeholder="Choice A" name="Choice1" /></div>
<div class="inner"><input type="Text" placeholder="Choice B" name="Choice2" /></div>
<div class="inner"><input type="Text" placeholder="Choice C" name="Choice3" /></div>
</div>

<div class="inner"><input type="Text" placeholder="Marks of Question" name="Marks" /></div>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Add More" /></div>
</form>
</div></div>


<div class="dash-col col" style="width:52%;height:max-content;min-width:320px">
<div class="col-heading tomato-color"><p>MCQS</p></div>
<table class="dash-table"> 
<thead><tr><th>ID</th><th>Question</th><th>Choices</th><th>Answer</th><th>Marks</th></thead> 
<tbody>
<tr><td>1</td><td>Define light</td><td>Light,Packet of energy,Quarks</td><td>Packet of Photons</td><td>5 Marks</td></tr> 
</tbody> 
</table>
</div>
</div>




<!-- Subjective BLOCK  -->
<div style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
<div class="dash-col col" style="width:43%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">Subjective</p></div>
<div class="col-body">

<form  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Question" name="Question" /></div>
<div class="inner"><input type="Text" placeholder="Answer" name="Answer" /></div>
<div class="inner"><input type="Text" placeholder="Marks of Question" name="Marks" /></div>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Add More"/></div>
</form>
</div></div>


<div class="dash-col col" style="width:52%;height:max-content;min-width:320px">
<div class="col-heading tomato-color"><p>Subjective</p></div>
<table class="dash-table"> 
<thead><tr><th>ID</th><th>Question</th><th>Answer</th><th>Marks</th></thead> 
<tbody>
<tr><td>1</td><td>Define light</td><td>Packet of Photons</td><td>5 Marks</td></tr> 
</tbody> 
</table>
<div class="inner">
<input type="button" class="papertype" name="login_user" 
style="border: 0px;font-size:20px;width:150px;height:38px;background-color: #fff;color: #000;" value="Upload Paper" />
</div></div></div></div>





</div>





{% include "Teachers/assets/inc/Footer.html" %}
