{% include "Main/assets/inc/head.html" %}

<div class="Form-Container">
  <div class="inner-form-holder">
  <div class="form-heading" >Login</div>
  <form action="assets/inc/dbSignin.php"  method="POST" >
    <div class="inner"><input type="Text" placeholder="Email" name="Email" required /></div>
    <div class="inner"><input type="Text" placeholder="Password" name="Password" required /></div>
    <div class="inner">
      <input type="Submit" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Submit" />
    </div>
    </form>
    </div>

  </div>
  {% include "Main/assets/inc/fotter.html" %}

