{% include "Main/assets/inc/head.html" %}

<div class="Form-Container">
  <div class="inner-form-holder">
  <div class="form-heading">SignUp</div>
  <form action="assets/inc/dbSignup.php" method="POST" >
    <div class="inner"><input type="Text" placeholder="Name"  name="Name" required /></div>
    <div class="inner"><input type="Text" placeholder="Email" name="Email" required /></div>
    <div class="inner"><input type="Text" placeholder="Password"  name="Password" required /></div>
    <div class="inner"><input type="Text" placeholder="Confirmed" name="Confirmed" required /></div>
    <div class="inner"><input type="Submit" name="submit" class="form-btn" value="Submit" />
    </div>
    </form>
    </div>
  </div>


  
  {% include "Main/assets/inc/fotter.html" %}

