{% include "Admin/assets/inc/Head.html" %}

<link rel="stylesheet" type="text/css" href="assets/css/Forms.css"/>

<div class="dash-row row">

<div class="dash-col col" style="width:44%;height:max-content;min-width:300px;">
<div class="col-heading tomato-color"><p style="margin:10px;">Course</p></div>
<div class="col-body">

<form action="#"  method="POST" style="margin:20px">
<div class="inner"><input type="Text" placeholder="Course" name="Email" /></div>

<div class="inner">
<select style="width:520px;padding-left:17px;height:48px;border:0px;" name="Role">
    	<option value="3">3 Credit Hours</option>
    	<option value="4">3 Credit Hours + 1 lab Credit Hours </option>
    </select>
</div>
<div class="inner">
<input type="Submit" name="login_user" 
      style="border: 0px;font-size: 22px;height:38px;background-color: #fff;color: #000;" value="Upload" /></div>
</form>

</div>
</div>

<div class="dash-col col" style="width:50%;height:max-content">


<div class="col-heading tomato-color"><p>Courses</p></div>

<table class="dash-table"> 
<thead> 
<tr>
    <th>ID</th><th>Courses</th>
    <th>Credit Hours </th></thead> 
<tbody> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
<tr><td>1</td><td>ML (Machine Learning)</td><td>4</td></tr> 
</tbody> 
</table>

</div>


</div>

</diV>
{% include "Admin/assets/inc/Footer.html" %}
