{% load static %}

<html>
<head>	
<link rel="stylesheet" type="text/css" href="{% static  'Main/assets/css/MainStyle.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static  'Main/assets/css/Footer.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static  'Main/assets/css/Forms.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static  'Main/assets/css/ionicons.min.css' %}"/>

<body>
<div class="Container">
	<div class="header">
		<ul class="Main-Menu">
		<li style="margin-right:10%;" class="Brand-name"><a href="{% url 'index' %}">Papers</a></li>
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'Features' %}">Features</a></li>
		<li><a href="{% url 'Documentation' %}">Documentation</a></li>
		<li><a href="{% url 'ContactUs' %}">Contact Us</a></li>
		</ul>
		<div class="sign_button">
			<div style="padding-right:30px;background-color: #ff6347;">
		<ul class="Main-Menu" style="width:100%">
			<li><a href="{% url 'Login' %}" style="margin-right:10px;">Login</a></li>
			<li><a href="{% url 'Signup' %}">Sign Up</a></li>
		</ul>
			
			</div>
		</div>
	</div>