{% include "Students/assets/inc/Head.Html" %}

<div class="dash-row row">

<div class="dash-col col" style="width:30%;">
<div class="col-heading tomato-color">
<p>Updates<i class="icon ion-android-download"></i></p></div>
<div class="col-body" style="display: flex;flex-direction: row;justify-content: start;flex-flow: wrap;font-size: 20px;">
<p>
{% if head.dash_data.exam|length  != 0 %}
Paper times
{% for i in head.dash_data.exam %}
<span style="margin:10px;">Date: {{i.date}} </span>
<span style="margin:10px;">Time: {{i.time}} </span>
{% endfor %}
{% else %} 
No Paper is Created
{% endif %}

</p>
</div>
<div class="col-fotter tomato-color"><p>View Details</p></div>
</div>


<div class="dash-col col" style="width:30%;">
<div class="col-heading purple-color"><p>Subjects<i class="icon ion-android-download"></i></p></div>
<div class="col-body"><p>{{head.dash_data.subject}}<span> Subjects</span></p></div>
<div class="col-fotter purple-color"><p>View Details</p></div>
</div>

<div class="dash-col col" style="width:30%;">
<div class="col-heading red-color"><p>Exams<i class="icon ion-android-download"></i></p></div>
<div class="col-body"><p>
<i class="icon ion-ios-paper" style="margin-right:4px;font-size:30px">
</i>
<span>{{head.dash_data.result.pass}} PASS / {{head.dash_data.result.fail}} FAIL </span>
</p></div>
<div class="col-fotter red-color"><p>View Details</p></div>
</div>


<div class="row" style="margin-top:25px;width:100%;">
<div class="col" style="min-width:57%;">
<canvas id="bar"></canvas></div>
<div class="col pie-chart" style="min-width:40%;">
<canvas id="pie"></canvas><p style="font-size:small" class="pie-text">Result:  quiz/assignment/papers</p></div>
</div>



{% include "Students/assets/inc/Footer.Html" %}
